# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!terraform.tfvars.example

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Power BI local cache
*.tmp
*.pbix.cache

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
